@font-face{
    font-family: 'OpenSans-Regular';
    src:url(./file/OpenSans-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    overflow: auto;
    margin-top: 0vw;
    margin-left: auto;
    margin-right: auto;
    height: 238.13vw;
}
header{
    height: 23.8%;
    background-color: black;
}
main{
    height: 54.2%;
}
footer{
    height: 22%;
}
.top{
    margin: 0vw;
    height: 11%;
}
.logo{
    float: left;
    width: 2.77vw;
    height: 2.47vw;
    margin-top: 3.03vw;
    margin-left: 5.1vw;
    margin-right: 52vw;
}
.mail{
    float: left;
    width: 1.77vw;
    height: 1.47vw;
}
.phone{
    float: left;
    width: 1.82vw;
    height: 1.77vw;
}
.text{
    float: left;
    margin-top: 3.73vw;
    margin-left: 0.86vw;
    width: 11.77vw;
    height: 0.9vw;
}
.text a{
    display: block;
    text-align: center;
    padding-left: 1vw;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 0.9vw;
    color: #FFFFFF;
}
.button{
    float: left;
    width: 6.41vw;
    height: 2.93vw;
    border: none;
    border-radius: 2vw;
    margin-top: 2.9vw;
    margin-left: 2.22vw;
    margin-bottom: 0vw;
}
button.button a{
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #135EC5;
    font-size: 0.81vw;
    font-family: Montserrat;
    font-weight: bold;
}
.top a:hover{
    color: red;
}
.center img{
    float: left;
    height: 24.75vw;
    margin-top: 11.57vw;
    margin-left: 21.56vw;
    margin-bottom: 0vw;
}
.circle{
    float: left;
    margin-left: 7vw;
}
.circle [class*=circle]{
    width: 0.61vw;
    height: 0.61vw;
    border-radius: 0.61vw;
}
.circle1{
    margin-top: 21vw;
    background-color: rgba(60, 60, 60, 1);
}
.circle2{
    margin-top: 0.8vw;
    background-color: rgba(19, 94, 197, 1);
}
.circle3{
    margin-top: 0.8vw;
    background-color: rgba(60, 60, 60, 1);
}
p.slogan{
    margin-top: 39.29vw;
    margin-left: 45.28vw;
    font-size: 0.91vw;
    font-family: Montserrat;
    font-weight: bold;
    color: white;
}
.down input{
    margin: 0vw;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 13.67vw;
    border-bottom: 0.05vw solid #3c3c3c;
    color: white;
    font-size: 1.5vw;
    font-family: Montserrat;
    font-weight: bold;
    background-color: initial;
    padding: 1vw 0vw;
    margin-left: 7vw;
}
.down form{
    float: left;
    overflow: hidden;
    margin-top: 2vw;
    margin-left: 6vw;
}
.down input::placeholder{
    color: #3c3c3c;
}
.down input:hover::placeholder{
    color: white;
}
.down input:hover{
    border-bottom: 0.05vw solid white;
}
.button1{
    width: 10.96vw;
    height: 2.93vw;
    border: none;
    border-radius: 2vw;
    background-color: rgba(19, 94, 197, 1);
    margin-left: 2vw;
}
button.button1 a{
    display: block;
    text-align: center;
    color: white;
    font-size: 0.81vw;
    font-family: Montserrat;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
button.button1 a:hover{
    color: red;
}
p.slogan1{
    margin-top: 4vw;
    margin-left: 48.17vw;
    font-size: 0.81vw;
    font-family: Montserrat;
    color: #C1C1C1;
}
.carlogo{
    margin-top: 4vw;
    border-bottom: 0.05vw solid #ebebeb;
    padding-bottom: 11vw;
    padding-left: 7.15vw;
}
a.carmazda{
    float: left;
    background-image: url(./file/mazda.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 5.45vw;
    height: 4.45vw;
}
a.carhuindai{
    float: left;
    background-image: url(./file/huindai.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-left: 7.15vw;
    width: 8.75vw;
    height: 4.65vw;
}
a.carbmw{
    float: left;
    background-image: url(./file/BMWlogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-left: 7.15vw;
    width: 5.45vw;
    height: 5.45vw;
}
a.carvolvo{
    float: left;
    background-image: url(./file/volvo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-left: 7.15vw;
    width: 5.45vw;
    height: 5.45vw;
}
a.carchevrolet{
    float: left;
    background-image: url(./file/chevrolet.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-left: 7.15vw;
    width: 9vw;
    height: 4.65vw;
}
a.carmersedes{
    float: left;
    background-image: url(./file/Mercedeslogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    margin-left: 7.15vw;
    width: 5.75vw;
    height: 5.75vw;
}
a.carhonda{
    float: left;
    background-image: url(./file/honda.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-left: 7.15vw;
    width: 5.85vw;
    height: 5.45vw;
}
.footer{
    top: 75.5vw;
    height: 28.7vw;
    width: 100%;
}
.bmwbox{
    float: left;
    margin-left: 5vw;
}
.bmwbox img{
    padding-top: 5vw;
    margin-left: 8.85vw;
    height: 14.44vw;
    filter: drop-shadow(3px 5px 5px #ede8e8);
}
.bmwbox1{
    float: left;
    padding-left: 5vw;
    width: 34.65vw;
}
.bmwbox1 h2{
    padding-top: 3vw;
    color: #135EC5;
    font-size: 3vw;
    font-family: Montserrat;
    font-weight: bold;
}
.bmwbox1 p{
    color: #C1C1C1;
    font-size: 0.8vw;
    font-family: OpenSans-Regular;
    padding-top: 1vw;
    line-height: 2vw;
}
.button2{
    width: 10.96vw;
    height: 2.93vw;
    border: none;
    border-radius: 2vw;
    background-color: rgba(19, 94, 197, 1);
    margin-top: 2.5vw;
    margin-left: 0vw;
    margin-bottom: 0vw;
    line-height: 0.5vw;

}
button.button2 a{
    color: white;
    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
button.button2 a:hover{
    color: red;
}
.boxbottom{
    display: inline-block;
    height: 27.2vw;
    width: 100%;
    background-color: rgba(19, 94, 197, 1);
}
.boxbottom h2{
    margin-top: 7.42vw;
    margin-left: 27vw;
    margin-bottom: 0vw;
    color: white;
    font-size: 3vw;
    height: 4vw;
    font-family: Montserrat;
    font-weight: bold;
}
.button3{
    width: 10.96vw;
    height: 2.93vw;
    border-color: white;
    border-style: ridge;
    border-width: 0.2vw;
    border-radius: 2vw;
    background-color: rgba(19, 94, 197, 1);
    margin-top: 3vw;
    margin-left: 44.6vw;
    margin-bottom: 0vw;
}
button.button3 a{
    display: block;
    text-align: center;
    color: white;
    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
button.button3 a:hover{
    color: red;
}
.bmw2{
    padding-left: 33.3vw;
    margin-top: -7vw;
    height: 11.92vw;
}
.downfooter{
    margin-top: 10vw;
}
.leftsection{
    float: left;
    width: 23.25vw;
    height: 28.56vw;
    margin-top: 3vw;
    margin-left: 8vw;
    box-shadow: 0vw 0vw 1vw rgb(235, 231, 231), 0vw 0vw 1vw rgb(235, 231, 231);
}
.leftbox1{
    height: 10vw;
    background-color: #135dc3;
    overflow: hidden;
    background-image: url(./file/FURIE.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.lefttext1{
    width: 4.4vw;
    height: 1.6vw;
    border: none;
    border-radius: 2vw;
    margin-top: 1vw;
    margin-left: 17.5vw;
    margin-bottom: 0vw;
}
button.lefttext1 a{
    display: block;
    text-align: center;
    color: #135EC5;
    font-size: 0.7vw;
    font-family: Montserrat;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
button.lefttext1 a:hover{
    color: red;
}
.price{
    margin-top: 1vw;
}
.price h1{
    float: left;
    margin-top: 0.4vw;
    margin-left: 3.3vw;
    margin-bottom: 0vw;
    font-family: Montserrat;
    font-weight: bold;
    color: #16AD2C;
    font-size: 1.5vw;
}
.lefttext2{
    float: left;
    width: 9.85vw;
    height: 2.63vw;
    border: none;
    border-radius: 2vw;
    background-color: rgba(226, 226, 226, 1);
    margin-top: 0vw;
    margin-left: 1.6vw;
    margin-bottom: 0vw;
}
button.lefttext2 a{
    display: block;
    text-align: center;
    color: #FFFFFF;
    font-size: 0.91vw;
    font-family: Montserrat;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
button.lefttext2 a:hover{
    color: red;
}
.lefttext3{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 0.71vw;
    color: #135EC5;
}
.lefttext4{
    font-family: Montserrat;
    font-size: 0.91vw;
    color: #C1C1C1;
}
.carnav1{
    text-align: center;
}
.carnav1 h2{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1.5vw;
}
.rightsection{
    float: left;
    margin-left: 8vw;
    width: 53.95vw;
    height: 34.3vw;
    box-shadow: 0vw 0vw 1vw rgb(235, 231, 231), 0vw 0vw 1vw rgb(235, 231, 231);
    overflow: hidden;
}
.leftnav{
    float: left;
    width: 30vw;
}
.rightnav{
    float: left;
    background-color: #125bbe;
    width: 23.95vw;
    height: 100%;
}
.rightnav img{
    width: 35.81vw;
    margin-left: -6vw;
    transition: 1s;
}
.rightnav img:hover{
    margin-left: -11vw;
}
.price1{
    margin-left: 2.98vw;
    margin-top: 2.5vw;
}
.price1 h1{
    float: left;
    margin-left: 9.3vw;
    margin-top: 0vw;
    margin-bottom: 0vw;
    font-family: Montserrat;
    font-weight: bold;
    color: #16AD2C;
    font-size: 1.5vw;
}
.righttext3{
    float: left;
    margin-top: 0.6vw;
    margin-bottom: 0vw;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 0.71vw;
    color: #E2E2E2;
}
.leftnav h2{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1.5vw;
    color: #135EC5;
    margin-left: 2.98vw;
    margin-top: 9.5vw;
}
.righttext4{
    margin-left: 2.98vw;
    margin-top: 0vw;
    font-family: OpenSans-Regular;
    font-size: 0.81vw;
    line-height: 2vw;
    color: #C1C1C1;
    width: 15.9vw;
}
.righttext2{
    width: 10.96vw;
    height: 2.93vw;
    background-image: url(./file/Box1.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5vw;
    margin-left: 2.98vw;
    margin-bottom: 0vw;
    line-height: 3vw;
}
p.righttext2 a{
    display: block;
    text-align: center;
    color: white;
    font-size: 0.8vw;
    font-family: Montserrat;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
p.righttext2 a:hover{
    color: red;
}
.righttext1{
    width: 4.4vw;
    height: 1.6vw;
    border: none;
    border-radius: 1vw;
    margin-top: 3vw;
    margin-left: 17.5vw;
    margin-bottom: 0vw;
}
button.righttext1 a{
    display: block;
    text-align: center;
    color: #135EC5;
    font-size: 0.7vw;
    font-family: Montserrat;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
button.righttext1 a:hover{
    color: red;
}
.circle11{
    margin-top: 0vw;
    margin-left: 10.28vw;
    background-color: #125bbe;
}
.circle4{
    float: left;
    width: 0.45vw;
    height: 0.45vw;
    border-radius: 0.45vw;
    background-color: rgba(21, 80, 161, 1);
}
.circle5{
    float: left;
    margin-left: 1vw;
    background-color: white;
    width: 0.61vw;
    height: 0.61vw;
    border-radius: 0.61vw;
}
.circle6{
    float: left;
    width: 0.45vw;
    margin-left: 1vw;
    height: 0.45vw;
    border-radius: 0.45vw;
    background-color: rgba(21, 80, 161, 1);
}
.footer1{
    margin-left: 13vw;
    width: 73.25vw;
    height: 43.35vw;
    box-shadow: 0vw 0vw 1vw rgb(235, 231, 231), 0vw 0vw 1vw rgb(235, 231, 231);
    overflow: hidden;
}
.footnav{
    height: 24.2vw;
}
.carlogo1{
    float: left;
    margin-top: 2vw;
    border-top: 0.05vw solid #ebebeb;
    width: 90%;
    margin-left: 3.15vw;
}
.carlogo1>a {
    background-size: 90%;
    width: 3.24vw;
    height: 8.77vw;
}
.foottable{
    background-color: rgba(19, 94, 197, 1);
    height: 19vw;
}
.footnav form {
    float: left;
    overflow: hidden;
}
.footnav input {
    width: 13.4vw;
    float: left;
    border-bottom: 0.05vw solid #C1C1C1;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    color: #000000;
    font-size: 0.91vw;
    font-family: Montserrat;
    font-weight: bold;
    background-color: initial;
    margin: 2vw 2vw;
    padding: auto;
}
.footnav input::placeholder{
    color: #C1C1C1;
}
.footnav input:hover::placeholder{
    color: #000000;
}
.footnav input:hover {
    border-bottom: 0.05vw solid #000000;
}
.foottable form{
    float: left;
    overflow: hidden;
    margin-top: 1.5vw;
    overflow: auto;
}
.foottable input{
    border-bottom: 0.05vw solid #6D90D4;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 13.4vw;
    float: left;
    outline: none;
    color: white;
    font-size: 0.91vw;
    font-family: Montserrat;
    font-weight: bold;
    background-color: initial;
    margin: 2vw 2vw;
}
.foottable input::placeholder{
    color: #6D90D4;
}
.foottable input:hover::placeholder{
    color: white;
}
.foottable input:hover{
    border-bottom: 0.05vw solid white;
}
.button4{
    position: absolute;
    height: 1.68vw;
    border: none;
    border-radius: 1vw 1vw 0vw 0vw;
    background-color: rgba(19, 94, 197, 1);
    margin-left: 31.22vw;
    margin-top: -1vw;
    margin-bottom: 0vw;
}
button.button4 a{
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 0.61vw;
    font-family: Montserrat;
    font-weight: bold;
}
button.button4 a:hover{
    color: red;
}
.button5{
    width: 10.45vw;
    height: 2.93vw;
    border: none;
    border-radius: 2vw;
    margin-top: 1.3vw;
    margin-left: 31.22vw;
    margin-bottom: 0vw;
}
button.button5 a{
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #135EC5;
    font-size: 0.81vw;
    font-family: Montserrat;
    font-weight: bold;
}
button.button5 a:hover{
    color: red;
}